<form id="loginForm" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
  <app-alert *ngIf="errormsg" [status]="'error'" [message]="errormsg"></app-alert>
  <igx-input-group>
    <igx-prefix>
      <igx-icon>account_circle</igx-icon>
    </igx-prefix>
    <label igxLabel for="username">Username</label>
    <input igxInput id="loginEmail" name="username" formControlName="username" type="text" />
  </igx-input-group>
  <igx-input-group>
    <igx-prefix>
      <igx-icon>lock</igx-icon>
    </igx-prefix>
    <input igxInput id="loginPassword" name="password" type="password" formControlName="password" />
    <label igxLabel for="password">Password</label>
  </igx-input-group>

  <div class="button-wrapper">
    <button igxButton="raised" type="submit" igxRipple [disabled]="!loginForm.valid">LOG IN</button>
    <a id="register" (click)="showRegistrationForm()">Create new account?</a>
  </div>
</form>
