<!--<div class="product-container">-->
<!--    <div class="product-content" >-->
<!--        <a href="" target="_blank">-->
<!--            <div class="product-content-overlay"></div>-->
<!--            <img class="product-content-image" src="{{product.image || 'https://icon-library.net/images/no-image-icon/no-image-icon-5.jpg'}}">-->
<!--            <div class="product-content-details fadeIn-bottom">-->
<!--                <h3 class="wordwrap product-content-title">{{product.name}}</h3>-->
<!--                <p class="wordwrap product-content-text">{{product.price}}лв.</p>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

<div class="product-tile" [ngStyle]="{'background-image': 'url(' + (product.image || 'https://icon-library.net/images/no-image-icon/no-image-icon-5.jpg') + ')'}">
    <div (click)="openProductPage(product.id)" class="product-overlay">
        <div class="product-overlay-text">{{product.name}}</div>
    </div>
</div>
